body{
	display: block;
	margin: 0;
	background-color: #F0F3DC;
}

h2, h4{
	font-family: Century;
	text-align: center;
	color: #392f81;
}

.navbar img{
	width: 50px;
}

h3{
	line-height: 5px;
	font-family: Century;
	text-align: center;
	color: #f0f3dc;
}

.navbar{
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #392F81;
	margin: 0px;
}

.flex-container{
	flex-direction: column;
	justify-content: center;
	display: flex;
	background-color: transparent;
	margin: 35px 50px 40px 50px;
}

.featured, .projects, .bio{
	border-radius: 150px;
	margin: 5px 60px 15px 60px;
	display: flex;
	justify-content: center;
}

.featured{
	background-color: #e5da68;
	height: 325px;	
}

.photo-container{
	margin: 20px;
	padding: 0px 30px;
	border-radius: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8a147;
}

.photo-container img{
	border-radius: 200px;
	width: 225px;
	height: fit-content;
}

.projects{
	flex-wrap: wrap;
	justify-content: space-around;
}

.project{
	background-color: #f8faf0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0px 0px 20px 0px;
	width: 265px;
	padding: 0 0 10px 0;
}

.project img{
	margin: 5px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: cover;
	object-position: 0px 0px;
	width: 255px;
	height: 150px;
}

.bio{
	flex-direction: row;
	flex-wrap:wrap;
}

.autobiography{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 20px;
}

.info{
	padding: 10px 25px;
	border-radius: 40px;
	background-color: #F0F3DC;
	box-shadow: 8px 15px 0px #f8a147, 0px 0px 5px #f8a147;
	width: 450px;
}

p{
	font-family: Century;
	color: #4E2A03;
}

.footer{
	padding: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #f8a147;
	margin: 0px;
}

.logo{
	padding: 5px;
	border-radius: 10px;
	background-color: #f0f3dc;
	width: 105px;
	margin: 0px 10px 0px 110px;
}

.footer-info{
	border-radius: 5px;
	padding: 0px 10px 10px 15px;
	background-color: #f0f3dc;
	width: 700px;
	margin: 0px 110px 0px 10px;
}

a{
	line-height: 15px;
	font-size: 18px;
	font-family: Century;
	font-weight: bolder;
	color: #392f81;
	text-decoration: none;
}